.container.marketing {
	margin-top: 100px;
}

.navbar {
	position: fixed;
	width: inherit;
	opacity: 0.9;
}

/* ===SCROLL */
#valentine div {
	position: absolute;
}

.description {
	top: 740px;
	left: 180px;
	width: 440px;
}
