/*
	COLORS
 
	Dark Blue 		#222438
	Medium Blue		#69697A
	Light Blue	 	#C5C3DE
	Yellow			#FFB000
	Red				#D92B00
	
*/

body {
	background: #FFCDBB;
	font-family: Georgia, Times New Roman, Times, serif;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	visibility: hidden;
}

#background {
	height: 300px;
	width: 100%;
	position: fixed;
	left: 0;
	bottom: 0;
	background: url('../images/vine.png') repeat-x left bottom;
	z-index: -5;
}

#content-wrapper {
	height: 5400px;
	padding-top: 10px;
	overflow: hidden;
}

.section {
	position: relative;
	width: 100%;
	height: 1000px;
	overflow: hidden;
	margin-bottom: 300px;
}

/* ==HEART */
.heart {
    position: relative;
    width: 830px;
    height: 830px;
		margin: 0 auto;
		background: url('../images/heart.png') no-repeat top left;
}

h1 {
	font-size: 100px;
	font-weight: normal;
	margin-top: 10px;
	font-family: 'Luckiest Guy',Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,Gadget,sans-serif;
	text-transform: uppercase;
	color: #FFB000;
	text-shadow: 0 2px 1px #000;
	line-height: .8;
	padding-top: 80px;
}

h1 span {
	padding-left: 120px;
	position: relative;
	left: 20px;
}

h2 {
	font-size: 150px;
	font-weight: normal;
	margin: 0;
	color: #FFF;
	padding: 60px;
	text-shadow: 0 2px 1px #000;
	font-family: 'Luckiest Guy',Impact,Haettenschweiler,"Franklin Gothic Bold",Charcoal,Gadget,sans-serif;
	text-transform: uppercase;
}

p, ul, h3 {
	color: #E0545F;
	text-shadow: 0 2px 1px #000;
	font-size: 40px;
}

.heart p, .heart ul, .heart h3 {
	color: #C5C3DE;
}

p {
	width: 80%;
	margin: 20px auto;
}

p.big {
	font-size: 55px;
}
p.small {
	font-size: 25px;
}

ul { list-style: none; }

/* START */
a.continue {
	margin-top: 30px;
	font-size: 50px;
	color: #FFF;
	text-decoration: none;
}

a.continue .arrow {
	position: relative;
	display: inline-block;
	animation: point-down 0.5s alternate infinite;
}

/* ORTHODOX */
#unorthodox p {
	position: absolute;
}

/* YOU */
#you h2.more {
	
}
#adjectives {
	overflow: hidden;
	position: relative;
	height: 600px;
	width: 700px;
	margin: 0 auto;
}

#adjectives ul, #adjectives h3 {
	position: absolute;
	top: 0px;
}

#adjectives ul {
	left: 80px;
	width: 400px;
}

#adjectives h3.start {
	left: 0px;
}

#adjectives h3.end {
	left: 500px;
}

/* end */
#end p.big {
	padding-top: 250px;
}